<!DOCTYPE html>
<html>
  <head>
    <title>Dianping Ripoff</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <h3>Simple Header</h3>
    <%= yield %>
    <footer>Mady by Le Wagon</footer>
  </body>
</html>